MAK_Zero_Config.json
{
    "name": "MAK Lead Discovery - Zero Config",
    "nodes": [
        {
            "parameters": {
                "path": "discover-leads",
                "responseMode": "onReceived",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                240,
                300
            ],
            "webhookId": "discover-leads"
        },
        {
            "parameters": {
                "url": "https://overpass-api.de/api/interpreter",
                "method": "POST",
                "sendBody": true,
                "contentType": "form-urlencoded",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "data",
                            "value": "[out:json];node[\"amenity\"=\"restaurant\"](51.4074,-0.2278,51.6074,0.0722);out body 20;"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Get London Restaurants",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "fieldToSplitOut": "elements",
                "options": {}
            },
            "name": "Split Into Leads",
            "type": "n8n-nodes-base.splitOut",
            "typeVersion": 1,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "company_name",
                            "name": "company_name",
                            "value": "={{ $json.tags.name || 'Unknown Restaurant' }}",
                            "type": "string"
                        },
                        {
                            "id": "location",
                            "name": "location",
                            "value": "London, UK",
                            "type": "string"
                        },
                        {
                            "id": "industry",
                            "name": "industry",
                            "value": "Restaurant",
                            "type": "string"
                        },
                        {
                            "id": "phone",
                            "name": "phone",
                            "value": "={{ $json.tags.phone || $json.tags['contact:phone'] || '' }}",
                            "type": "string"
                        },
                        {
                            "id": "website",
                            "name": "website",
                            "value": "={{ $json.tags.website || $json.tags['contact:website'] || '' }}",
                            "type": "string"
                        },
                        {
                            "id": "email",
                            "name": "email",
                            "value": "={{ $json.tags.email || $json.tags['contact:email'] || '' }}",
                            "type": "string"
                        },
                        {
                            "id": "source",
                            "name": "source",
                            "value": "openstreetmap",
                            "type": "string"
                        },
                        {
                            "id": "status",
                            "name": "status",
                            "value": "new",
                            "type": "string"
                        },
                        {
                            "id": "priority",
                            "name": "priority",
                            "value": "medium",
                            "type": "string"
                        },
                        {
                            "id": "employee_count",
                            "name": "employee_count",
                            "value": 10,
                            "type": "number"
                        },
                        {
                            "id": "notes",
                            "name": "notes",
                            "value": "Discovered from OpenStreetMap",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Format for MAK OS",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://mak-os.onrender.com/api/leads",
                "method": "POST",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ $json }}",
                "options": {
                    "response": {
                        "response": {
                            "neverError": true
                        }
                    }
                }
            },
            "name": "POST to MAK OS",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1120,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Get London Restaurants",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get London Restaurants": {
            "main": [
                [
                    {
                        "node": "Split Into Leads",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Into Leads": {
            "main": [
                [
                    {
                        "node": "Format for MAK OS",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format for MAK OS": {
            "main": [
                [
                    {
                        "node": "POST to MAK OS",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {}
}