MAK_FINAL_WORKING.json
{
    "name": "MAK Lead Discovery - FINAL WORKING",
    "nodes": [
        {
            "parameters": {
                "path": "discover-leads",
                "responseMode": "onReceived",
                "options": {}
            },
            "id": "webhook-1",
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                240,
                400
            ],
            "webhookId": "discover-leads"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "region1",
                            "name": "name",
                            "value": "London",
                            "type": "string"
                        },
                        {
                            "id": "region2",
                            "name": "bbox",
                            "value": "51.4074,-0.2278,51.6074,0.0722",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "init-regions",
            "name": "Initialize Regions",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.3,
            "position": [
                460,
                400
            ]
        },
        {
            "parameters": {
                "url": "https://overpass-api.de/api/interpreter",
                "method": "POST",
                "sendBody": true,
                "contentType": "form-urlencoded",
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "data",
                            "value": "=[out:json];(node[\"amenity\"=\"restaurant\"]({{ $json.bbox }});node[\"amenity\"=\"cafe\"]({{ $json.bbox }});node[\"shop\"]({{ $json.bbox }}););out body 20;"
                        }
                    ]
                },
                "options": {}
            },
            "id": "get-businesses",
            "name": "Get Businesses",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                680,
                400
            ]
        },
        {
            "parameters": {
                "fieldToSplitOut": "elements",
                "options": {}
            },
            "id": "split-businesses",
            "name": "Split Businesses",
            "type": "n8n-nodes-base.splitOut",
            "typeVersion": 1,
            "position": [
                900,
                400
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "company_name",
                            "name": "company_name",
                            "value": "={{ $json.tags?.name ?? 'Business in ' + ($json.tags?.['addr:city'] ?? 'London') }}",
                            "type": "string"
                        },
                        {
                            "id": "location",
                            "name": "location",
                            "value": "={{ ($json.tags?.['addr:street'] ? $json.tags['addr:street'] + ', ' : '') + ($json.tags?.['addr:city'] ?? 'London') + ', ' + ($json.tags?.['addr:country'] ?? 'UK') }}",
                            "type": "string"
                        },
                        {
                            "id": "industry",
                            "name": "industry",
                            "value": "={{ $json.tags?.amenity ?? $json.tags?.shop ?? 'retail' }}",
                            "type": "string"
                        },
                        {
                            "id": "phone",
                            "name": "phone",
                            "value": "={{ $json.tags?.phone ?? $json.tags?.['contact:phone'] ?? '' }}",
                            "type": "string"
                        },
                        {
                            "id": "website",
                            "name": "website",
                            "value": "={{ $json.tags?.website ?? $json.tags?.['contact:website'] ?? '' }}",
                            "type": "string"
                        },
                        {
                            "id": "email",
                            "name": "email",
                            "value": "={{ $json.tags?.email ?? $json.tags?.['contact:email'] ?? '' }}",
                            "type": "string"
                        },
                        {
                            "id": "source",
                            "name": "source",
                            "value": "openstreetmap",
                            "type": "string"
                        },
                        {
                            "id": "status",
                            "name": "status",
                            "value": "new",
                            "type": "string"
                        },
                        {
                            "id": "priority",
                            "name": "priority",
                            "value": "medium",
                            "type": "string"
                        },
                        {
                            "id": "employee_count",
                            "name": "employee_count",
                            "value": "10",
                            "type": "number"
                        },
                        {
                            "id": "notes",
                            "name": "notes",
                            "value": "={{ 'Discovered from OpenStreetMap - Type: ' + ($json.tags?.amenity ?? $json.tags?.shop ?? 'business') }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "format-lead",
            "name": "Format Lead",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.3,
            "position": [
                1120,
                400
            ]
        },
        {
            "parameters": {
                "url": "https://mak-os.onrender.com/api/leads",
                "method": "POST",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"company_name\": \"{{ $json.company_name }}\",\n  \"location\": \"{{ $json.location }}\",\n  \"industry\": \"{{ $json.industry }}\",\n  \"phone\": \"{{ $json.phone }}\",\n  \"website\": \"{{ $json.website }}\",\n  \"email\": \"{{ $json.email }}\",\n  \"source\": \"{{ $json.source }}\",\n  \"status\": \"{{ $json.status }}\",\n  \"priority\": \"{{ $json.priority }}\",\n  \"employee_count\": {{ $json.employee_count }},\n  \"notes\": \"{{ $json.notes }}\"\n}",
                "options": {
                    "response": {
                        "response": {
                            "neverError": true
                        }
                    }
                }
            },
            "id": "post-to-mak",
            "name": "POST to MAK OS",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1340,
                400
            ]
        }
    ],
    "connections": {
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "Initialize Regions",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Initialize Regions": {
            "main": [
                [
                    {
                        "node": "Get Businesses",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Businesses": {
            "main": [
                [
                    {
                        "node": "Split Businesses",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Businesses": {
            "main": [
                [
                    {
                        "node": "Format Lead",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Lead": {
            "main": [
                [
                    {
                        "node": "POST to MAK OS",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 0,
    "updatedAt": "2026-02-09T14:59:13.000Z",
    "versionId": "1"
}